@use "../util" as *;

.hero {
  margin-top: rem(-114);

  @include mq(medium) {
    margin-top: rem(-148);
  }

  &-slider {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    // transform: translateX(-100%);

    &-container {
      overflow: hidden;
    }

    & .slide {
      display: flex;
      flex-direction: column;

      @include mq(medium) {
        flex-direction: row;
        height: calc(412px + 10vw);
      }

      &-img {
        & > img {
          height: calc(260px + 26vw);
          width: 100%;

          @include mq(medium) {
            height: calc(412px + 10vw);
          }
        }

        @include mq(medium) {
          flex-basis: 55%;
        }

        @include mq(large) {
          flex-basis: 60%;
        }
      }

      &-content {
        padding-top: rem(72);
        padding-bottom: rem(72);

        @include mq(medium) {
          flex-basis: 45%;
          padding-left: rem(48);
          padding-right: rem(48);
          padding-top: rem(120);
        }

        @include mq(large) {
          flex-basis: 40%;
          padding-left: rem(96);
          padding-right: rem(96);
        }

        & > h2 {
          font-weight: bold;
          font-size: rem(26);
          line-height: 1.2;
          padding-bottom: rem(16);
        }

        & > p {
          color: var(--text-color);
          line-height: 1.7;
          padding-bottom: rem(52);
        }
      }

      &-button {
        width: fit-content;
        font-size: 1.2em;
        cursor: pointer;

        & > span {
          letter-spacing: 8px;
          text-transform: uppercase;
          margin-right: rem(32);
          margin-bottom: rem(-3);
        }
      }
    }
  }

  &-slider-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: calc(260px + 26vw - 68px); // height slide minus height slider buttons
    display: flex;

    @include mq(medium) {
      margin-top: calc(412px + 10vw - 80px);
      left: 55%;
    }

    @include mq(large) {
      left: 60%;
    }
  }
}
