//Colors
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$vdark-gray: hsl(0, 0%, 27%);

$colors: (
  background-color: $white,
  text-color: $dark-gray,
  title-color: $black,
  active-color: $vdark-gray,
);
